html{
    background-color:whitesmoke ;
    font-family:'Encode Sans Semi Condensed', sans-serif;
    color: white;
    font-size: 15px;
    height: 100%;
}
body{
    height:100%;
}
nav{
    padding:0;
    margin:0;
    text-align:center;
}
header{
    background-color: #303334 ;
    display: flex;
    justify-content: space-between;
    height: 100px;
    text-align: center;
    padding-left:100px;
}
#header{
    border-right: whitesmoke;
    border-width: 2px;
    background-color:#303334 ;
    padding: 10px;
    text-align: center;
    border:none;
    padding-top:10%;
    
}
.header{
    color:white;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
.img_header{
    justify-content: left;
    max-width: 40%;;
}
a.header:hover{
    color: orange;
}
.login{
    color: white;
    margin-left: 600px;
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
.login:hover{
    color: orange;
}

.card1{
    background-color: #2B93C7  ;
    height: 400px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    contain: content;
}
.BigLogo{
    max-width: 50%;
}

.PlayDatabase{
    justify-content: center;
    align-items:center;
    display:flex;
    flex-direction:column;
}
h1{
   font-size: 30px; 
   font-weight: 300px;
}
.whiteGrey{
    color: darkgrey;
    font-weight: 200;
}
.card2{
    background-color:whitesmoke ;
    justify-content: center;
    display: flex;
    height: 80px;
    align-items: center;
}
.middle{
    color: black;
    font-weight: 200;
}
.card3{
    background-color:  #2B93C7 ;
    height:300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.para1-2{
    margin-right: 50px;
    margin-left: 80px;
}
.para3-4{
    margin-right: 80px;
}
.para_texte{
    font-size:15px;
}
.card4{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    height: 80px;
    align-items: center;
}
.lastBlock{
     background-color:#EEEEEE ;
     justify-content: space-around;
     display:flex;
     flex-direction: column;
     height:200px;
     align-items:center;
}

.building{
    background-color: orange;
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: 240px;
    margin-right: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 8px;


}
.LINKS{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    font-size: 50px;
}
.LienBleu{
    color: white;
    background-color: #0B5F89;
    padding: 15px;
    margin-right: 15px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: large;

}
.LienJaune{
    color: white;
    background-color: orange;
    padding: 15px;
    margin-right: 15px;
    height:50px;
    border:none;
    text-align:center;
    font-size: large;
}
button{
    border-radius: 8px;
}
.LienBleu:hover{
    color: blue;
}
.LienJaune:hover{
    color: coral;
}
.building:hover{
    color: coral;
}


footer{
    background-color: #303334 ;
    display: flex;
    justify-content: space-between;
    height: 100px;

}
a.footer{
    color: white;
    padding:10px;
    text-align: center;
    border-left-color: whitesmoke;
    border-left-width: 1px;
    height: 200px;
    margin-top: 10px;
}
a.footer:hover{
    color: orange;
}
.rights{
    margin-left:600px;
    display: inline-block;
    margin: 0 30px;
}


