html{
    background-color:whitesmoke ;
    font-family:'Encode Sans Semi Condensed', sans-serif;
    color: white;
    font-size: 15px;

}
header{
    display:flex;
    background-color:#303334 ;
    align-items:center;
    padding-left: 100px;
    display:flex;
}
.img_header{
    justify-self: center;
    max-width: 40%;
}
nav{
    background-color: #303334; 
    color: white;
    text-align:center;
    font-size:15px;
    padding:10px;
}
a.header{
    color: white;
    padding:10px;
    text-align: center;
}
a{
    color: white;
}
a:hover{
    color: orange;
}
.card1{
    background-color: #2B93C7  ;
    height: 400px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    contain: content;
}
.BigLogo{
    max-width: 50%;
}

.PlayDatabase{
    justify-content: center;
    align-items:center;
    display:flex;
    flex-direction:column;
}
h1{
   font-size: 30px; 
   font-weight: 300px;
}
.whiteGrey{
    color: darkgrey;
    font-weight: 200;
}
.card2{
    background-color:whitesmoke ;
    justify-content: center;
    display: flex;
    height: 80px;
    align-items: center;
}
.middle{
    color: black;
    font-weight: 200;
}
.card3{
    background-color:  #2B93C7 ;
    height:300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.para1-2{
    margin-right: 50px;
    margin-left: 80px;
}
.para3-4{
    margin-right: 80px;
}
.para_texte{
    font-size:15px;
}
.card4{
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    height: 80px;
    align-items: center;
}
.lastBlock{
     background-color:#EEEEEE ;
     justify-content: space-around;
     display:flex;
     flex-direction: column;
     height:200px;
     align-items:center;
}

.building{
    background-color: orange;
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: 235px;
    margin-right: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 8px;


}
.LINKS{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    font-size: 50px;
}
.LienBleu{
    color: white;
    background-color: #0B5F89;
    padding: 15px;
    margin-right: 15px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: large;

}
.LienJaune{
    color: white;
    background-color: orange;
    padding: 15px;
    margin-right: 15px;
    height:50px;
    border:none;
    text-align:center;
    font-size: large;
}
button{
    border-radius: 8px;
}
.LienBleu:hover{
    color: blue;
}
.LienJaune:hover{
    color: coral;
}
.building:hover{
    color: coral;
}


footer{
    background-color: #303334 ;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
a.footer{
    color: white;
    padding:10px;
    text-align: center;
    border-left-color: whitesmoke;
    border-left-width: 1px;
    height: 200px;
}
a.footer:hover{
    color: orange;
}


