html{
    background-color:whitesmoke ;
    font-family:'Encode Sans Semi Condensed', sans-serif;
    color: white;
    font-size: 15px;

}
header{
    display:flex;
    background-color:#303334 ;
    align-items:center;
    padding-left: 100px;
    display:flex;
}
.img_header{
    justify-self: center;
    max-width: 60%;
}
nav{
    background-color: #303334; 
    color: white;
    text-align:center;
    font-size:15px;
    padding:10px;
}
a.header{
    color: white;
    padding:10px;
    text-align: center;
}
a{
    color: white;
}
a:hover{
    color: orange;
}
.card1{
    background-color: #2B93C7  ;
    height: 300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.PlayDatabase{
    justify-content: center;
    align-items:center;
    display:flex;
    flex-direction:column;
}
h1{
   font-size: 30px; 
   font-weight: 300px;
}
.card2{
    background-color:whitesmoke ;
    justify-content: center;
    display: flex;
    height: 80px;
    align-items: center;
}
.card3{
    background-color:  #2B93C7 ;
    height:300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.para1-2{
    margin-right: 50px;
    margin-left: 80px;
}
.para3-4{
    margin-right: 80px;
}
.building{
    background-color: orange;
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: 250px;
    margin-right: 15px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;

}
.LINKS{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    font-size: 50px;
}
.LienBleu{
    color: white;
    background-color: #0B5F89;
    padding: 15px;
    margin-right: 15px;
    height: 50px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: large;

}
.LienJaune{
    color: white;
    background-color: orange;
    padding: 15px;
    margin-right: 15px;
    height:50px;
    border-radius:15px;
    border:none;
    text-align:center;
    font-size: large;
}


footer{
    background-color: #303334 ;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
a.footer{
    color: white;
    padding:10px;
    text-align: center;
    border-left-color: whitesmoke;
    border-left-width: 1px;
    height: 200px;
}


